.firstSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background: url('/images/landing_background2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

  main {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: 400px) { 
      width: 100vw;
      padding: 20px;
    }

    .title {
      display: flex;
      justify-content: center;
      align-items: flex-end;      

      p {
        font-size: 25px;   
        font-weight: 300;
      }

      h3 {
        font-size: 26px;
        line-height: 22px;
      }

      span {
        background: #ffffff;
        height: 100px;
        width: 65px;
        margin-right: 10px;
      }
    }

    .description {
      margin-top: 40px;

      p {
        font-size: 38px;
        font-weight: 300;
      }

      h2 {
        font-size: 62px;
        line-height: 34px;
        font-weight: 300;
        margin-left: -10px;
      }

      @media screen and (max-width: 500px) { 
        
        h2 {
          font-size: 35px;
          margin-top: -2px;
        }

        p {
          line-height: 12px;
          font-size: 24px;
        }
      }
      
      @media screen and (max-width: 350px) { 
        h2 {
          font-size: 32px;
        }

        p {
          line-height: 12px;
          font-size: 24px;
        }
      }
    }

    button {
      margin-top: 50px;
      height: 65px;
      width: 280px;
      border-radius: 4px;
      border: none;

      transition: all 0.3s;

      &:hover {
        filter: brightness(0.97);
      }

      @media screen and (max-width: 300px) { 
        height: 45px;
        width: 180px;
      }
    }
  }
}