.firstSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background: url('/images/hero_background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

  main {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 456px;
      height: 356px;
    }

    @media screen and (max-width: 400px) { 
      width: 100vw;
      padding: 20px;
      img {
        width: 258px;
        height: 208px;
      }
    }

    div {
      position: absolute;
      bottom: 40px;
      margin-top: 200px;
      height: 52px;
      width: 216px;
      border-radius: 4px;
      border: none;
      color: #FFFFFF;
      transition: all 0.3s;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 26px;
      }

      &:hover {
        filter: brightness(0.98);
        cursor: pointer;
        font-size: 20px;

        svg {
          font-size: 32px;
        }
      }

      @media screen and (max-width: 300px) { 
        height: 45px;
        width: 180px;
      }
    }
  }
}