.firstSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-height: 100vh;
  background: url('/images/hero_background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

  main {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: 400px) { 
      width: 100vw;
      padding: 20px;
    }

    img {
      width: 175px;
    }

    .description {
      margin-top: 40px;

      p {
        font-size: 33px;
        font-weight: 300;
      }

      h2 {
        font-size: 49px;
        font-weight: 900;
      }

      @media screen and (max-width: 500px) { 
        
        h2 {
          font-size: 35px;
          margin-top: 10px;
        }

        p {
          font-size: 24px;
        }
      }
      
      @media screen and (max-width: 350px) { 
        h2 {
          font-size: 32px;
        }

        p {
          font-size: 24px;
        }
      }
    }

    button {
      margin-top: 50px;
      height: 52px;
      width: 216px;
      border-radius: 4px;
      border: none;
      color: #5C5C5C;
      transition: all 0.3s;
      font-size: 18px;

      &:hover {
        filter: brightness(0.9);
      }

      @media screen and (max-width: 300px) { 
        height: 45px;
        width: 180px;
      }
    }
  }
}