.titleCenter {
  h2 {
    font-size: 42px;
    font-weight: 400;
    color: #CBCBCB;
    text-align: center;

    &::after{
      content: attr(data-content);
      display: flex;          
      margin-top: -35px;
      align-self: center;
      font-size: 52px;
      font-weight: 300;
      color: #E3E3E3;
      position: relative;
      z-index: -1;
    } 
  }

  @media (max-width: 500px) {
    h2 {
      font-size: 32px;

      &::after {
        font-size: 32px;
        margin-top: -18px;
      }
    }
  }
}

.title {
  h2 {
    font-size: 42px;
    font-weight: 400;
    color: #CBCBCB;

    &::after{
      content: attr(data-content);
      display: flex;          
      margin-top: -25px;
      font-size: 52px;
      padding-left: 18px;
      font-weight: 300;
      color: #E3E3E3;
      position: relative;
      z-index: -1;
    } 
  }

  @media (max-width: 500px) {
    h2 {
      font-size: 32px;

      &::after {
        font-size: 32px;
        margin-top: -18px;
      }
    }
  }
}