.title {
  h2 {
    font-size: 45px;
    font-weight: 400;
    color: #CBCBCB;

    &::after{
      content: attr(data-content);
      display: flex;          
      margin-top: -30px;
      font-size: 58px;
      padding-left: 18px;
      font-weight: 300;
      color: #E3E3E3;
      position: relative;
      z-index: -1;
    } 
  }

  @media (max-width: 500px) {
    h2 {
      font-size: 32px;
      text-align: center;

      &::after {
        font-size: 32px;
        justify-content: center;
        padding-left: 0px;

        margin-top: -18px !important;
      }
    }
  }
}

.titleCenter {
  @extend .title;  

  h2 {
    text-align: center;

    &::after {
      justify-content: center;
      padding-left: 0px;

      margin-top: -40px;
    }
  }

  @media (max-width: 500px) {
    h2 {
      &::after {
        margin-top: -24px !important;
      }
    }
  }
}