.productContainer {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    width: 1012px;
    padding: 75px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .textContainer {
      width: 100%;
      display: flex;

      justify-content: space-between;

      p {
        max-width: 459px;
        margin-top: 40px;
        font-size: 18px;
        color: #707070;
        text-align: left;
        letter-spacing: 0px;
      }

      div {
        margin-top: -45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  }

  @media (max-width: 500px) {
    main {
      width: 80%;
      align-items: center;

      .textContainer {
        flex-wrap: wrap;
        
        p {
          text-align: center;
          margin-right: 0;
          margin-bottom: 50px;
        }

        img {
          width: 350px;
        }
      }

    }
  }

  @media (max-width: 400px) {
    main {
      .textContainer {
        img {
          width: 300px;
        }
      }
    }
  }

  @media (max-width: 350px) {
    main {
      .textContainer {
        img {
          margin-left: -7%;
          width: 280px;
        }
      }
    }
  }
}