.aboutUsContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  main {
    width: 80%;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      max-width: 662px;
      margin-top: 40px;
      font-size: 18px;
      color: #CBCBCB;
      text-align: left;
    }
  }

  @media (max-width: 500px) {
    main {
      align-items: center;

      p {
        text-align: center;
      }
    }
  }
}