.footerContainer {
  main {
    width: 100%;
    height: 269px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    padding: 0 12.5%;
  
    .footerInfo {
      width: 456px;
      text-align: right;
      font-size: 18px;
      color: #8B8B8B;

      a {
        color: #3D7145;
        transition: all 0.2s;

        &:hover {
          filter: brightness(0.7);
        }
      }
    }

    @media (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      height: 480px;

      .footerInfo {
        width: 280px;
        text-align: center;

        margin-top: 20px;

        span {
          display: block;
        }
      }
    }
  }

  .footer {
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    color: #F7F7F7;
    background: #5A7D16;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
      p {
        width: 300px;
      }

      span {
        display: none;
      }
    }

  }
}